*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#hero{
    display: flex;
   

    background-color: black;


}

/* inizio sidebar */

#sidebar{
    display: inline-block;

    min-height: 1010px;
    /* test */

    display: flex;
    flex-direction: column;
    padding: 20px;


    min-width: 227px;

}

/* fine sidebar */

/* Inizio main */

#main{

    display: flex;
    flex-direction: column;
}

.top-bar{
    /* height: 90px;
    min-width: 1200px; */

    /* test */

    display: flex;
    background-color: #080b12;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
}

.big-container{

    height: calc(100vh - 180px);

   
}

.container{
    min-height: 920px;
    /* test */

    width: 100%;
    overflow: auto;
    background-color: #141922;
}

/* Fine main */

/* inizio bottom-bar */

#bottom-bar{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1;

    background-color: #282828;
}

/* fine bottom-bar */