*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}



#hero{
    display: flex;

  

    background-color: #141922;

    height: 100vh;



}

/* inizio sidebar */

#sidebar{

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    padding: 20px;


    width: 227px;

    background-color: black;

}

/* fine sidebar */

/* Inizio container */


.top-bar{

    display: flex;
    
   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 90px;
    width: 100%;

    background-color: #080b12;
}



.container{
    margin-left: 247px;
    height: 100vh;
    overflow: auto;

}

.row-cards{
    display: flex;
    gap: 15px;
}


.card {
    max-width: 180px;
}

.card img{
    width: 100%;
}

/* Fine container */

/* inizio bottom-bar */

#bottom-bar{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1;

    background-color: #282828;
}

/* fine bottom-bar */